section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    gap: 30px;
}
.buttons{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
button{
    padding: 8px 15px;
    border: none;
    outline: none;
    background-color: rgba(0, 128, 0, 0.9);
    color: white;
    font-size: 17px;
    border-radius: 8px;
    cursor: pointer;
}
button:hover{
    background-color: green;
}
button:disabled{
    background-color: rgba(0, 128, 0, 0.5);
}
.section{
    width: 90vw;
    margin: auto;
    margin-top: 5%;
    /* display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.cards{
    width: 265px;
    padding: 20px;
    height: 450px;
    border: 2px solid grey;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 20px 0px;
    overflow: hidden;
}

.cards:hover{
    box-shadow: 0 10px 10px 10px rgba(0,0,0,0.1);
    cursor: pointer;
}

.image_box img{
    width: 260px;
    height: 300px;
    margin: 0px 0px 10px 0px;
    border: 1px solid grey;
    transition: 0.5s all ease-in-out;
}
.image_box img:hover{
    transform: scale(1.1);
    
}

.details p:nth-child(1){
    font-weight: bold;
}
.details p:nth-child(2){
    color: grey;
    font-size: 0.8rem;
}
.details p:nth-child(3){
    font-weight: bold;
    color: grey;
}

.details button{
    padding: 8px 10px;
    margin: 10px 0px;
    border:none;
    font-weight: bold;
    color: #fff;
    background-color: #feb376;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
}

.details button:hover{
    background-color: orange;
}

@media screen and (max-width: 600px) {
    .section{
        gap: 8px;
    }
    .cards{
        height: 300px;
        width: 175px;
    }
    .image_box img{
        width: 160px;
        height: 170px;
    }
    .details button{
        font-size: 10px;
    }
    
}